.milan-section {
    background-image: url(./images/background\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    /* width: 100vw; ширина дає горизонтальний скрол, висота візуально нічого не рухає - чи потрібні?  */
    padding: 36px;
}

.container {
    max-width: 1028px;
    width: 100%;
    margin: 0 auto;
    
}

.milan-header {
    display: flex;
    justify-content: space-between;
    height: 61px;    
    margin-bottom: 17px;
}

.milan-header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-size: 29px;
    font-weight: 700;
    line-height: 29px;   /* 100% */
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 61px;
    position: relative;
}

.holidays {
    font-size: 18px;
    line-height: 18px;   /* 100% */
}

.milan-header-logo:hover {
    color: #F26522
}

.milan-header-logo::before {    
    content: url(./images/logo\ 3.svg);
    position: absolute;
    left: 0;
}
.milan-header-logo:hover::before {
    content: url(./images/logo\ 2.svg);
    position: absolute;
    left: 0;
}

.milan-header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.milan-header-email,
.milan-header-phone {
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* 100% */
    text-decoration: none;
}

.milan-header-email:hover,
.milan-header-phone:hover {
    color: #F26522
}

.milan-main {
    display: flex;
    width: 1028px;
    height: 560px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
}

.milan-main-wrapper {
    display: flex;
    flex-direction: column;
    width: 309px;
    height: 261px;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
    align-items: center;
}

.milan-main-img-signature {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 100% */
    position: absolute;
    bottom: 0;
}
.milan-main-wrapper:hover .milan-main-img-signature {
    color: #F26522
}

.milan-main-img {
    position: relative;
    width: 309px;
}

.milan-main-img-hover {
    width: 309px;
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    background-color: #F26522;
    position: absolute;
    bottom: 30px;
    visibility: hidden;  
}
.milan-main-wrapper:hover .milan-main-img-hover {
    visibility: visible; 
}
.from {
    padding-left: 16px;
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 10px;
    line-height: 10px; /* 100% */
}
.price-details {  
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 37px;
    padding-bottom: 12px;    
}
.price {
    font-size: 20px;
    line-height: 20px; /* 100% */
}
.details {
    font-size: 14px;
    line-height: 14px; /* 100% */
    position: relative;
}
.details::after {
    content: url(./images/Vector\ 1.svg);
    position: absolute;
    top: 0.5px;
    right: -20px;
}

.milan-footer {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 100% */
}






/* варіант 1, коли фон сидить в структурі html і його укладено на дно за допомогою position, z-index -1 */
/* width: 100vw;     з цією властивістю на background зявляється скрол по ширині, але чому? */
/* .background {               
    width: calc(100%);    
    position: absolute;
    z-index: -1;
} */

/* .milan-header {   чомуксь не вийшло навісити сюди і вище по дереву колір, жирність і шрифт документу, в посилання а з логотипом не спрацьовувало
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
} */